/******************* Buttons *********************************************************/

.buttons .button a {
	color: #333;
}

.buttons .button {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -ms-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#ffffff", endColorstr = "#e6e6e6", GradientType = 0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

}

.buttons .button:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;

}

.buttons .button {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.buttons .button a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
}

.buttons .button {
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #08C, #04C);
	background-image: -ms-linear-gradient(top, #08C, #04C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: -o-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(top, #08C, #04C);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#0088cc", endColorstr = "#0044cc", GradientType = 0);
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	line-height: normal;
}

.buttons .button:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	background-color: #0044cc;
}
.buttons {
	text-align: right;

}
.buttons .button {
	margin-right: 40px;
}


/**** SUPPORT / TABLEAU **************/

.tableau td {
	text-align: center;
	padding: 4px 5px;

}
.tableau th {
	text-align: center;
	padding: 4px 5px;

}
.tableau thead th {
	background: #bbbbff;
	color: #22222;

}
.tableau tbody tr:nth-child(odd) td {
	background: rgba(239, 245, 249, 0.7);

}
.tableau tbody tr:nth-child(odd) th {
	background: rgba(239, 245, 249, 0.9);

}
.tableau tbody th {
	text-align: left;
	color: #888888;
	width: 223px;

}
.tableau {
	margin: 0 0 0 0;
	/*width: 960px;*/
}

/***** btn for try-alt-ergo *****/
.btn{
	cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:5px 14px 6px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;

	/* mine */
	text-align: center; line-height: 25px; height:25px; color: #333; font-weight: bold;margin:10px; width:120px;
	display: block;
}

.btn:hover{background-position:0 -15px;color:#333;text-decoration:none; }

.btn:focus{outline:1px dotted #666;}

/*
COLORS:
=======
 Titles and Sub-titles: #446;
 Body, p, text: #444

*/

@font-face {
  font-family: "scriptina";
  src: url('../fonts/scriptina/SCRIPTIN.ttf') format("truetype");
}

body, img, td { margin:0; padding:0 }

img { border-style: none }

body {
	font-family : Ubuntu, Tahoma, "Trebuchet MS",  Verdana, Helvetica, Sans-Serif, arial;
	margin: 0 auto;
	font-size:11pt;
	color: #444;
	background-image: url('../images/bg-dot.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

#main-width-834{
	margin: auto; 
	width: 834px; 
	background-image: url('../images/content-shadow.png'); 
	background-repeat: repeat; 
	background-position: center;
	min-height: 520px;
	text-align: justify;
}

#main-util-width-808{
	width: 808px; 
	margin: auto;
}


/****** LOGO ******/

.logo-img{ margin:8px}

#logo-box{ margin: 0 30px; position: absolute}

#logo-link{ display: block; border-width: 0 }

#logo-main-border{
    width: 110px;
	background-color: #fff;
	border-width: 0 1px 1px 1px; 
	border-style: solid;
	border-color: #bbb;
	text-align: center;
}

#logo-bot-border{
	background-image : url('../images/shadow-top.png'); 
	background-repeat: repeat-x;
	width: 110px;
	height: 10px;
	margin: auto;
}


/****** MENU ******/

#menu-container-width-808{
	border-bottom: solid 1px #bbb;
	margin: auto;
	background-color: #f4f6f8;
	height: 45px;
	width: 808px;
}

#menu li{ float: left }

#menu {
	list-style: none;
	margin: 0 ;
	float: right;
}


.menu-item {
	font-family : "ubuntu",  "Trebuchet MS",  Verdana, Helvetica, Sans-Serif;
	display: block;
	line-height: 44px;
	height: 45px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #39d;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 90px;
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #bbb;
}

.menu-item:VISITED {
	color: #39d;	
}

.menu-item:HOVER {
	 color: #d42;
	 border-bottom-width: 0px;
}

.menu-item-active, .menu-item-active:HOVER, .menu-item-active:VISITED, .menu-item-active:FOCUS {
	font-family : "ubuntu",  "Trebuchet MS",  Verdana, Helvetica, Sans-Serif;
	display: block;
	line-height: 38px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #39d;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 90px;
	
	
	background-color: #fff;
	color: #d42;
	height: 42px;
	
	border-style: solid;
	border-width: 4px 0 1px 1px;
	border-color: #bbb #bbb #fff #bbb;
}


.title{
	font-weight: bold; 
	font-size: 170%; 
	letter-spacing: 1px;
	margin-top: 45px;
	margin-bottom: 20px;
	display: block;
	color: #334; 
	
}

.subtitle{
	font-weight: bold; 
	font-size: 140%; 
	letter-spacing: 1px; 
	margin-top: 30px;
	margin-bottom: 20px;
	display: block;
	color: #334;
}

#by-ocamlpro{
	float: left;
	margin-left: 155px; 
	color:#c8c6c4;
	font-family: scriptina;
	font-weight: bold;
	font-size: 16pt;
	letter-spacing: 1px;
}


.page-content{
	margin: 35px 35px 50px 35px;
}

.footer-shadow{
	background-image: url('../images/shadow-top.png'); 
	background-repeat: repeat-x;
	height: 10px; 
	width: 808px;
	margin: auto;
	margin-bottom: 30px;
}


.clear{ clear: both }

p{ margin-top: 20px; text-align: justify; line-height: 23px }

li{ margin-bottom: 8px; line-height: 20px }

a{ text-decoration: none; color: #24c }

a:VISITED{ color: #c24 }

a:HOVER{ color: #c24; border-bottom: 1px dotted #c24 }

.copyright-area{
	border-top: solid 1px #bbb;
	margin: auto;
	background-color: #f4f6f8;
	height: 50px;
	width: 808px;
	text-align: center;
	font-size: 80%;
	line-height: 16px;
}

.copyright-content {
	margin: 9px
}

a:HOVER {
	border-bottom-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	outline-width: 0
}

.fiche-ae-div{
	text-align: center; 
	font-family: 'Quintessential', cursive;
	font-size: 160%; 
	letter-spacing: 1px;
	font-weight: bold;
}

a{
	outline: 0;
}

.fiche-ae-link:VISITED{
	outline: 0;
}

.valid{
    background-color: #3d3 !important;
/*font-weight: bold;*/
}

.unknown{
    background-color: #d33 !important;
}

.timeout{
    background-color: #fd3 !important;
}

.other{
    background-color: #b99 !important;
}

.assert-false{
    background-color: #366 !important;
}

.blue{
    background-color: #3df !important;
}


.outofmemory{
    background-color: #969 !important;
}

